* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 35%, var(--color-bg-left) 0%, var(--color-bg) 35%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 35%, var(--color-bg-left) 0%, var(--color-bg) 35%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 35%, var(--color-bg-left) 0%, var(--color-bg) 35%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 35%, var(--color-bg-left) 0%, var(--color-bg) 35%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 35%, var(--color-bg-left) 0%, var(--color-bg) 35%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.section__padding {
  padding: 2rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}


/* Global Styles */
label {
  display: block;
  margin-top: 10px;
}



.auth-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Profile Page */
.profile-container {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  text-align: center;
}

.profile-header {
  padding: 10px;
  border-radius: 5px;
}

.profile-details {
  margin-top: 20px;
  text-align: left;
}

.profile-item {
  margin: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

/* Add Page */


.submission-success {
  text-align: center;
  padding: 20px;
  background-color: #5cb85c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submission-success button {
  margin-top: 10px;
}

.submission-form {
  text-align: left;
}


/* List Page */
.list-container {
  padding: 20px;
  margin: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.list-heading {
  margin-bottom: 20px;
  display: inline-block;
  width: max-content;
}

.table-row {
  transition: background-color 0.3s;
}

.table-row:hover {
  background-color: var(--color-blog);
}

.button-container {
  display: flex;
  margin-bottom: 20px;
}

.button-group{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button-group-2{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list-button-group{
  display: flex;
  justify-content: space-evenly;
}


.add-button,
.search-button,
.remove-button {
  margin-right: 10px;
}



.table-container {
  overflow-x: auto; /* Yatay kaydırma çubuğunu görünür hale getirir */
  max-width: 100%; /* Tablo konteynırının ekran genişliği kadar genişlemesini sağlar */
}


.table {
  color: var(--color-text);
}

.table th,
.table td {
  color: var(--color-text);
}
