@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #204d8b 1.84%, #104793 102.67%);
  
  --color-bg: #b0c8ea;
  --color-bg-left: #619df0;
  --color-footer : #e4ecf7;
  --color-blog: #619df0;
  --color-text: #262626;
  --color-subtext: #FF8A71;
}
